* {
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

ul {
    margin-left: 20px;
    margin-top: 20px;

    :nth-child(1){background-color: lightgrey;}
    :nth-child(2){background-color: blue;}
    :nth-child(3){background-color: orange;}
    :nth-child(4){background-color: red;}
    :nth-child(5){background-color: green;}
    
li{
    color: white;
    list-style-type: none;
    padding:20px 20px 20px;
    width: 45px;
    text-align: center;
}}



i{
    margin-left: 35px;
    margin-top: 20px;
}

.open{
    margin-left: -400px;
}

.grey{
    background-color: lightgrey;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}